# In all environments, the following files are loaded if they exist,
# the latter taking precedence over the former:
#
#  * .env                contains default values for the environment variables needed by the app
#  * .env.local          uncommitted file with local overrides
#  * .env.$APP_ENV       committed environment-specific defaults
#  * .env.$APP_ENV.local uncommitted environment-specific overrides
#
# Real environment variables win over .env files.
# DO NOT DEFINE PRODUCTION SECRETS IN THIS FILE NOR IN ANY OTHER COMMITTED FILES.

# This key is used by the Biurad encrypter service and should be set
# to a random, 136 character string, otherwise these encrypted strings
# will not be safe. Please do this before deploying an application!
# Change these values for increased security,
# but don't touch if you have no idea what this means.
APP_KEY="{encrypted_key}"

# This value is the name of your application. This value is used when the
# framework needs to place the application's name in a notification or
# any other location as required by the application or its packages.
APP_NAME="PHP Rade Framework"

# This URL can be used by the session, cookie, or any part of the application that
# requires proper full url of the path where the file is located.
# This is custom, no auto-detect on url.
APP_URL=

# This key is used to define the codes of the locales (languages),
# and enabled them on request in the application.
APP_LOCALE="en|fr|de|es|cs|nl|ru|uk|ro|pt_BR|pl|it|ja|id|ca|sl|hr|zh_CN|bg|tr|lt"

# This key holds the 'ide' editor used. This is should be mostly used in error pages
# connected to a path into clickable links that open the given file using your favorite IDE.
# Should works only in development mode.
APP_IDE="editor://%action/?file=%file&line=%line&search=%search&replace=%replace"
