# In all environments, the following files are loaded if they exist,
# the latter taking precedence over the former:
#
#  * .env                contains default values for the environment variables needed by the app
#  * .env.local          uncommitted file with local overrides
#  * .env.$APP_ENV       committed environment-specific defaults
#  * .env.$APP_ENV.local uncommitted environment-specific overrides
#
# Real environment variables win over .env files.
#
# DO NOT DEFINE PRODUCTION SECRETS IN THIS FILE NOR IN ANY OTHER COMMITTED FILES.
# Try Defining it when in production mode in > config/framework.yaml config file
#
# https://docs.biurad.com/biuradphp/web-readme@guidelines#configuration

# This key is used by the Biurad encrypter service and should be set
# to a random, 136 character string, otherwise these encrypted strings
# will not be safe. Please do this before deploying an application!
# Change these values for increased security,
# but don't touch if you have no idea what this means.
APP_KEY=base64:45VH3bGgyTjqiFE80Apt/7REaWDwXHuuO/egt1mEuRQ=

# This value is the name of your application. This value is used when the
# framework needs to place the application's name in a notification or
# any other location as required by the application or its packages.
APP_NAME="BiuradPHP Framework"

# This URL is used by the session and cookie expecially the views to write proper
# full url of the path where the file is located.
# If the URL is set to null, the framework will auto-detect the url.
APP_URL=
